<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="1000" status="WARN">

    <Properties>
        <Property name="filename">C:\Users\User\Desktop\epamTraining\my-hotel\src\main\resources\logs</Property>
        <property name="pattern_cmd">%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] [%M] [%L] %-5level %logger{5} - %msg%n</property>
    </Properties>

    <Appenders>
        <RollingFile name="file" fileName="${filename}/logError.log"
                     filePattern="${filename}/logError-%d{yyyy-HH-dd HH-mm-ss-SSS}.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="10 KB"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="EventLogger" level="info" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>



